@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-y-scroll bg-primary-dark;
  }

  body {
    @apply font-content  text-primary-light;
  }

  h1 {
    @apply text-5xl font-bold font-header text-secondary-light;
  }
  h2 {
    @apply text-4xl font-bold font-header text-secondary-light;
  }
  h3 {
    @apply text-3xl font-bold font-header text-secondary-light;
  }
  h4 {
    @apply text-2xl font-bold font-header text-secondary-light;
  }
  h5 {
    @apply text-xl font-bold font-header text-secondary-light;
  }
}

@layer components {
  .container-auto {
    @apply px-5 md:px-10 lg:px-32;
  }

  .input-primary {
    @apply bg-primary-semi p-2 rounded outline-none w-64;
  }

  .nav-item {
    @apply inline-flex gap-2 font-bold w-36 items-center text-primary-light p-2 transition-colors duration-300 rounded-lg justify-center;
  }

  .nav-item-active {
    @apply bg-gradient-to-br from-teal-400 to-teal-600  shadow text-white;
  }

  .btn-primary {
    @apply p-2 transition-all duration-300 rounded shadow bg-teal-600 hover:bg-teal-700 active:ring-2 active:ring-teal-600;
  }

  .btn-secondary {
    @apply p-2 transition-all duration-300 rounded shadow bg-primary-semi text-teal-300 border-teal-500 border hover:bg-secondary-semi active:bg-primary-semi active:ring-2 active:ring-teal-600;
  }

  .btn-danger {
    @apply p-2 transition-all duration-300 rounded shadow bg-primary-semi text-red-400 border-red-500 border hover:bg-secondary-semi active:bg-primary-semi active:ring-2 active:ring-red-600;
  }
}

@layer utilities {
}
